<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Esqueceu sua Senha?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteiner">
    <div class="card card-conteiner">
      <img id="profile-img" class="profile-img-card" src="/assets/icon/icone-vestapp.png"/>
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-forgot-password" #forgotPassword="ngForm" (ngSubmit)="forgotPassword"></form>
        <span id="reauth-email" class="reauth-email"></span>
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="text" required name="email" ngModel autofocus></ion-input>
        </ion-item>
        <br>
        <button class="btn btn-lg btn-primary btn-block btn-signup"
                type="submit"
                [disabled]="forgotPassword.invalid || forgotPassword.pending">Resetar Senha</button>
        <br>
        <br>
        <small>
          Forneça o nome de usuário ou endereço de e-mail que você usou quando cadastrou
          para sua conta, enviaremos um link no seu endereço de e-mail para cadastrar uma nova senha.
        </small>
    </div>
  </div>
</ion-content>