.cart-count {
    margin-right: 20px;
    position: absolute;
    right: 0;
    top: 5px;
  }
  
  ion-icon[name="cart-outline"] {
    color: rgba(231, 143, 78, 0.74);
  }
  
  ion-buttons[slot="end"] > ion-button.cart {
    margin-right: 20px;
  }
  
  ion-buttons[slot="primary"] {
    width:100%;
    display: flex;
    justify-content: space-between;
  
    ion-button {
      flex: 1;
    }
  }
  
  .item-entry {
    padding: 10px 0;
  }
  
  .item-name {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--ion-color-dark-tint);
  }
  
  .price {
    color: var(--ion-color-tertiary-tint);
    font-weight: 700;
    font-size: 16px;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1.4rem;
  }

  .icon {
    width: 40px;
  }

  .fixline {
    height: 325px;
  }