<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Política de Trocas e Devoluções</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text">
  <h4>Política de Troca e Devolução Geral</h4>
  <p>O Usuário vendedor aceita que o Usuário comprador exerça o direito de arrependimento dentro do
    prazo de 7 dias corridos, a contar da data de recebimento do produto. Da mesma forma, o Usuário
    vendedor aceita que o Usuário comprador solicite a devolução dos produtos, o vendedor deverá
    aceitar a devolução do produto e se encarregar dos gastos envolvidos, incluindo o frete de
    devolução.</p>
  </div>  
</ion-content>
